<%= form_for @patient do |f| %>
    <% if @patient.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@patient.errors.count, "error") %> prohibited
            this patient from being saved:
        </h2>
        <ul>
            <% @patient.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>


    <div class="form-row">
        <div class="col">    
            <div class="form-group">
                <%= f.label :given_name %> <%= f.text_field :given_name, class: "form-control text-capitalize" %>
            </div>
        </div>
        <div class="col">    
            <div class="form-group">
                <%= f.label :last_name %> <%= f.text_field :last_name, class: "form-control text-capitalize"  %>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">    
            <div class="form-group">
                <%= f.label :date_of_birth %> <%= f.date_field :date_of_birth, class: "form-control" %>
            </div>
        </div>
        <div class="col">    
            <div class="form-group">
                <%= f.label :permanent_district %>
                    <div id="district-div">
                        <%= f.text_field :permanent_district, class: "form-control typeahead" %>
                    </div>                
                
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">    
            <div class="form-group">
                <%= f.label :fathers_name %> <%= f.text_field :fathers_name, class: "form-control text-capitalize" %>
            </div>
        </div>
        <div class="col">    
            <div class="form-group">
                <%= f.label :fathers_occupation %> <%= f.text_field :fathers_occupation, class: "form-control text-capitalize" %>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col">    
            <div class="form-group">
                <%= f.label :mothers_name %> <%= f.text_field :mothers_name, class: "form-control text-capitalize" %>
            </div>
        </div>
        <div class="col">    
            <div class="form-group">
                <%= f.label :mothers_occupation %> <%= f.text_field :mothers_occupation, class: "form-control text-capitalize" %>
            </div>
        </div>
    </div>

    <div class="form-check">
        <%= f.label :present_permanent_same, class: 'form-check-label' do %> 
            <%= f.check_box :present_permanent_same, id: 'pp_same', class: 'form-check-input' %>
            Present address is same as permanent address
        <% end %>
    </div>

    <div class="form-row">
        <div class="col">    
            <div class="form-group">
                <%= f.label :permanent_address %> <%= f.text_area :permanent_address, class: "form-control text-capitalize" %>
            </div>
        </div>
        <div class="col">    
            <div class="form-group">
                <%= f.label :present_address %> <%= f.text_area :present_address, id: 'present_address', class: "form-control text-capitalize"%>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.submit "Create Patient", class: 'btn btn-primary' %>
    </div>
<% end %>