<% content_for :search_script do %>
  <%= javascript_include_tag "index", 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :search do %>
  <li class="nav-item active">
    <div class="input-group">
      <select class="custom-select" id="patient-search-select">
        <option value="1">Name</option>
        <option value="3">District</option>
        <option value="2">Diagnosis</option>

      </select>
      <input type="text" id="patient-search" class="form-control">
    </div>
  </li>
<% end %>
<table id="patients-table" class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Visited/Created</th>
      <th>District</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr data-url='<%= patient_path(patient) %>'>
        <td scope="row"><%= patient.id %></td>
        <td><%= "#{patient.given_name} #{patient.last_name}".titleize %></td>
        <td><%= patient.last_contact.to_date %></td>
        <td><%= patient.permanent_district %></td>
        <td><button type="button" class="btn btn-primary">View</button></td>
      </tr>
    <% end %> 
  </tbody>
</table>
