
<table id="patients-table" class="table table-hover">
  <thead class="thead-default">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>District</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr data-url='<%= patient_path(patient) %>'>
        <td scope="row"><%= patient.id %></td>
        <td><%= "#{patient.given_name} #{patient.last_name}" %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.permanent_district %></td>
        <td><button type="button" class="btn btn-primary">View</button></td>
      </tr>
    <% end %> 
  </tbody>
</table>
