<div class="row">
    <div class=col-md-10>
        <span class="display-3">
            <%= "#{@patient.given_name} #{@patient.last_name}".titleize %>
            <small class="text-muted"><%= link_to 'Edit', edit_patient_path(@patient), class: "btn" %></small>
            
            <% if @patient.google_drive_folder.present? %>
                <%= render @patient.google_drive_folder %>
            <% else %>
                <% if defined?(@gfolder)%>
                    <%= render 'google_drive_folders/form', gfolder: @gfolder %>
                <% else %>
                    <%= render 'google_drive_folders/form' %>
                <% end %>
            <% end %>            
        </span>
        
    </div>
</div>
<div class="row my-3">
    <div class="col-md-6">
        <span class="font-weight-bold">Patient Id:</span>
        <span><%= @patient.id %></span>
        <br/>
        <span class="font-weight-bold">DOB:</span>
        <span><%= @patient.date_of_birth %></span>
        <br/>
        <span class="font-weight-bold">Dist:</span>
        <span><%= @patient.permanent_district %></span>                
    </div>
    <div class="col-md-6">
        <span class="font-weight-bold">Father:</span>
        <span> <%= "#{@patient.fathers_name}, #{@patient.fathers_occupation}" %> </span>
        <br/>
        <span class="font-weight-bold">Mother:</span>
        <span> <%= "#{@patient.mothers_name}, #{@patient.mothers_occupation}" %> </span>
    </div>
</div>

<div class=my-3></div>

<div class="row">
    <div class="col-md-6">
        <span class="font-weight-bold">Permanent Address:</span>
        <br/>
        <span><%= @patient.permanent_address %></span>
    </div>
    <div class="col-md-6">
        <span class="font-weight-bold">Present Address: </span>
        <br/>
        <% if @patient.present_permanent_same %>
            <span>Same</span>
        <% else %>
            <%= @patient.present_address %>
        <% end %>
    </div>
</div>

<div class="row my-4">
    <div class="col-md-4">
        <span class="h3">Communication Details</span>
        <div class=my-3>
            <span class="h4">Phone Numbers</span>
            <button type="button" class="btn btn-primary btn-sm ml-3" data-toggle="modal" data-target="#addPhoneModal">
                Add +
            </button>

            <% if defined?(@phone)%>
                <%= render 'phones/form', phone: @phone %>
            <% else %>
                <%= render 'phones/form' %>
            <% end %>

            <ul class="list-group ">
                <%= render @patient.phones.select { |ph| !ph.new_record? } %>
            </ul>
        </div>
        <div class=my-3>
            <span class="h4">Email Addresses</span>
            <button type="button" class="btn btn-primary btn-sm ml-3" data-toggle="modal" data-target="#addEmailModal">
                Add +
            </button>

            <% if defined?(@email)%>
                <%= render 'emails/form', email: @email %>
            <% else %>
                <%= render 'emails/form' %>
            <% end %>

            <ul class="list-group">
                <%= render @patient.emails.select { |em| !em.new_record? } %>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <span class="h3">Patient Notes</span>
        <button type="button" class="btn btn-primary btn-sm ml-3 mb-3" data-toggle="modal" data-target="#addNoteModal">
            Add +
        </button>
        <%= render 'notes/form' %>
        <ul class="list-group ">
            <%= render @patient.notes.reorder('created_at DESC').select { |em| !em.new_record? } %>
        </ul>
    </div>
</div>


