<!DOCTYPE html>
<html>
  <head>
    <title>PatientTracker</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>


    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= patients_path %>">Patients <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="<%= new_patient_path %>">New Patient</a>
          </li>
          <% if current_page?('/patients') || current_page?('/') %>
          <li class="nav-item active">
            <div class="input-group">
              <select class="custom-select" id="patient-search-select">
                <option value="1">Name</option>
                <option value="3">District</option>
                <option value="2">Diagnosis</option>

              </select>
              <input type="text" id="patient-search" class="form-control">
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <div class="container-fluid">
      <div class='my-3'> </div>
      <%= yield %>
    </div>

  </body>
  <% if current_page?('/patients') || current_page?('/') %>
    <script>
      $("#patient-search-select").val("1");
      var diagnoses_flag = false;
      var diagnoses_data = [];
      var select = $("#patient-search-select").val();
      $('#patient-search-select').on('change', function(e) {
        select = $("#patient-search-select").val();
        if(select == 2 && diagnoses_flag == false) {
            diagnoses_data = $.ajax({url: "/typeahead/search", success: function(result) {
              diagnoses_data = result;
            }, dataType:"json"});
            diagnoses_flag = true;
        }
      });

      $("#patient-search").on('keyup',function() {
        var val = this.value.toLowerCase();
        if(select == 1 || select == 3) {
          $("#patients-table tbody").find("tr").each(function(i) {
            var t = $($(this).find("td")[select]).text().toLowerCase();
            if(t.indexOf(val)!=0) {
              $(this).hide();
            }
            else {
              $(this).show();
            }
          });
        }
        else {
          if(select == 2) {
            var matched_el = [];
            for(i=0;i<diagnoses_data.length;i++) {
              var str = diagnoses_data[i][1].toLowerCase();
              if(str.indexOf(val) == 0) {
                matched_el.push(diagnoses_data[i][0]);
              }
            }
            $("#patients-table tbody").find("tr").each(function(i) {
              var el_id=parseInt($($(this).find("td")[0]).text());
              if(matched_el.indexOf(el_id) != -1) {
                $(this).show();
              }
              else {
                $(this).hide();
              }
            });
          }
        }
      });
    </script>
  <% end %>
</html>
